<html>
<head>
    <title>IT Academy</title>
    <link rel="stylesheet" href="/css/styleConnection.css"/>
</head>
<body>
    <h1>IT Academy</h1>
    <h2>Entrez votre pseudo</h2>
	<form action="/formation/connected" method="POST">
		Nom : 
		<input type="text" name="nom" required>
		<input type="submit" value="Enregistrer" name="save">
	</form>
</body>
</html>