.itAcademy{
    text-align: center;
}

.availableFormations{ 
    text-align: left;
}

.redirectButtons {
    text-align: left;
    padding-left: 20px;

}

.formations{
    text-align: center;
}

.button {
	background-color: rgb(164, 164, 164);
	color: rgb(27, 117, 27);
	border-radius: 5px;
    font-weight: bold;
    border-color: rgb(164, 164, 164);
 }

form {
    display: inline-block; 
}

.box {
    border : 1px solid; 
    border-radius: 2px;
    border-color:rgb(182, 182, 182)
}

.tab {
    text-align: center;
    margin-left: 20px;
    margin-right: auto;
}

h1,h2 {
    color: midnightblue;
}

h2{
    padding-left: 20px;
}